---
swagger: '2.0'
info:
  description: Esquema en el que estarán construidos los servicios para la aplicación
    de agendador de citas
  version: 1.0.0
  title: Agenda
  contact: {}
host: dev2.arkho.tech
basePath: "/v1"
tags:
- name: Calendars
  description: Instancias de agendas
- name: DaysOff
  description: Días no laborales
- name: Appointments
  description: Citas en una agenda determinada
- name: BlockSchedules
  description: Bloqueos de horarios
- name: Application
  description: Aplicaciones
schemes:
- http
paths:
  "/appointments/assists/{appointment_id}":
    put:
      tags:
      - Appointments
      description: Actualiza una cita a asistió o no asistió
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appointment_id
        in: path
        description: ID de la cita
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputAppointmentAttended"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/availability/listByOwner/{owner_id}":
    get:
      tags:
      - Appointments
      description: Lista la disponiblidad de citas por owner en una fecha dada
      produces:
      - application/json
      parameters:
      - name: owner_id
        in: path
        description: ID del propietario
        required: true
        type: integer
        format: int32
      - name: date
        in: query
        description: Fecha a obtener disponibildad de cita (AAAA-MM-DD)
        required: false
        type: string
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de una aplicación
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputAppointmentsAvailable"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/availability/{calendar_id}":
    get:
      tags:
      - Appointments
      description: Lista la disponiblidad de citas por calendario en una fecha dada
      produces:
      - application/json
      parameters:
      - name: calendar_id
        in: path
        description: ID del calendario
        required: true
        type: integer
        format: int32
      - name: date
        in: query
        description: Fecha a obtener disponibildad de cita (AAAA-MM-DD) o (AAAA-MM)
        required: false
        type: string
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de una aplicación
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputAppointmentAvailable"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/bulkConfirm":
    post:
      tags:
      - Appointments
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputAppointmentBulkConfirm"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '406':
          description: Error 406
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/cancel/{appointment_id}":
    put:
      tags:
      - Appointments
      description: Cancela una cita
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appointment_id
        in: path
        description: ID de la cita
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputAppointmentCancel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '406':
          description: Error 406
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/confirm/{appointment_id}":
    put:
      tags:
      - Appointments
      produces:
      - application/json
      parameters:
      - name: appointment_id
        in: path
        description: ID de la cita
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '406':
          description: Error 406
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/listByApplyer/{applyer_id}":
    get:
      tags:
      - Appointments
      description: Lista todas las citas futuras solicitadas de un solicitante
      produces:
      - application/json
      parameters:
      - name: applyer_id
        in: path
        description: ID del solicitante de la cita
        required: true
        type: integer
        format: int32
      - name: page
        in: query
        description: Parámetros de paginación
        required: false
        type: integer
        format: int32
      - name: records
        in: query
        description: Número de registros
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominios de una App
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputAppointment"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/listByCalendar/{calendar_id}":
    get:
      tags:
      - Appointments
      description: Lista todas las citas futuras de un usuario por agenda
      produces:
      - application/json
      parameters:
      - name: calendar_id
        in: path
        description: ID de la agenda
        required: true
        type: integer
        format: int32
      - name: page
        in: query
        description: Parámetros de paginación
        required: false
        type: integer
        format: int32
      - name: records
        in: query
        description: Número de registros
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de una aplicación
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/OutputAppointment"
        '400':
          description: Status 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Status 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Status 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/listByOwner/{owner_id}":
    get:
      tags:
      - Appointments
      description: Lista todas las citas futuras solicitadas de un propietario
      produces:
      - application/json
      parameters:
      - name: owner_id
        in: path
        description: ID del propietario de la agenda
        required: true
        type: integer
        format: int32
      - name: page
        in: query
        description: Parámetros de paginación
        required: false
        type: integer
        format: int32
      - name: records
        in: query
        description: Número de registros
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominios de una App
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputAppointment"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/reserve":
    post:
      tags:
      - Appointments
      description: Reserva una cita
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputAppointmentReserve"
      responses:
        '201':
          description: Success
          schema:
            "$ref": "#/definitions/OutputCreateAppointment"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '406':
          description: Error 406
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/appointments/{appointment_id}":
    put:
      tags:
      - Appointments
      description: Actualiza una la información de una cita
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appointment_id
        in: path
        description: ID de la cita a modificar
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputAppointmentReserve"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '406':
          description: Error 406
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/apps":
    get:
      tags:
      - Application
      description: Lista las aplicaciones existentes en el servidor. Si se especifica los parametros appkey o domain, se filtran por ese valor.
      produces:
      - application/json
      parameters:
      - name: appkey
        in: query
        description: Appkey de la valor
        required: false
        type: string
      - name: domain
        in: query
        description: Dominios de una App
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputApplications"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
    post:
      tags:
      - Application
      description: Crea aplicaciones o dominios dentro de una aplicacion si se especifica.
        Si se especifíìica el parametro appkey con un valor ya existente, entonces se crea un nuevo dominio para la aplicacion. 
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: query
        description: Identificador de aplicacion. Si se especifica este parametro, entonces se creara un nuevo dominio.
        required: false
        type: string
        
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputCreateApplication"
      responses:
        '201':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
    put:
      tags:
      - Application
      summary: UpdateApplication
      description: Actualiza una App
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Domain de la App
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputUpdateApplication"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/apps/changeStatus":
    put:
      tags:
      - Application
      summary: ChangeStatusApplication
      description: Cambia el estado una App
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Domain de la App
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputChangeApplication"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/blockSchedules":
    get:
      tags:
      - BlockSchedules
      description: Lista todos los días bloquedos del año actual
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de una aplicación
        required: true
        type: string
      responses:
        '200':
          description: OK
    post:
      tags:
      - BlockSchedules
      description: Crea Bloqueo de días sobre una agenda
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputBlockSchedule"
      responses:
        '201':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/blockSchedules/bulkCreate":
    post:
      tags:
      - BlockSchedules
      description: Crea bloqueos para un rango de fechas en una agenda
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
        x-example: ''
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputBlockScheduleBulk"
      responses:
        '201':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/blockSchedules/{block_schedule_id}":
    delete:
      tags:
      - BlockSchedules
      description: Elimina el bloqueo de un horario
      produces:
      - application/json
      parameters:
      - name: block_schedule_id
        in: path
        description: ID del bloqueo de horario
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/calendars":
    get:
      tags:
      - Calendars
      description: Lista todas las instancias de agenda filtradas y paginadas seg´nun los parametros enviados en el query string, appkey y domain.  
      produces:
      - application/json
      parameters:
      - name: page
        in: query
        description: Parámetros de paginación
        required: false
        type: integer
        format: int32
      - name: records
        in: query
        description: Número de registros
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominios de una App
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputCalendar"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
    post:
      tags:
      - Calendars
      summary: Crea calendarios
      description: Crea instancias de agenda para un usuario o grupo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputCalendar"
      responses:
        '201':
          description: ''
          schema:
            "$ref": "#/definitions/OutputCreateCalendar"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/calendars/disable/{calendar_id}":
    put:
      tags:
      - Calendars
      description: Deshabilita una agenda. Esta agenda no es eliminada fisicamente.
      produces:
      - application/json
      parameters:
      - name: calendar_id
        in: path
        description: ID del calendario
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/calendars/listByOwner/{owner_id}":
    get:
      tags:
      - Calendars
      description: Lista todas las instancias de agenda que pertenecen a un usuario
      produces:
      - application/json
      parameters:
      - name: owner_id
        in: path
        description: ID del propietario de la agenda
        required: true
        type: integer
        format: int32
      - name: page
        in: query
        description: Parámetros de paginación
        required: false
        type: integer
        format: int32
      - name: records
        in: query
        description: Número de registros
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominios de una App
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputCalendar"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/calendars/searchByName":
    get:
      tags:
      - Calendars
      description: Filtra por nombre de la agenda o propietario de la agenda
      produces:
      - application/json
      parameters:
      - name: text
        in: query
        description: Texto coincidente a buscar en el campo pertenece a o nombre agenda
        required: true
        type: string
      - name: page
        in: query
        description: Parámetros de paginación
        required: false
        type: integer
        format: int32
      - name: records
        in: query
        description: Número de registros
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominios de una App
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputCalendar"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/calendars/{calendar_id}":
    get:
      tags:
      - Calendars
      description: Lista un calendario por su ID
      produces:
      - application/json
      parameters:
      - name: calendar_id
        in: path
        description: ID del calendario
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de una aplicación
        required: true
        type: string
      responses:
        '200':
          description: Status 200
          schema:
            "$ref": "#/definitions/OutputCalendar"
        '400':
          description: Status 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Status 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Status 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
    put:
      tags:
      - Calendars
      summary: UpdateCalendar
      description: Actualiza una instancia de agenda
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: calendar_id
        in: path
        description: ID del calendario
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - name: domain
        in: header
        description: Dominio de la aplicación
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputCalendar"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/daysOff":
    get:
      tags:
      - DaysOff
      description: Lista todos los días no laborables futuros
      produces:
      - application/json
      parameters:
      - name: year
        in: query
        required: false
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OutputDayOff"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '404':
          description: Error 404
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
    post:
      tags:
      - DaysOff
      description: Crea días no laborables
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputDayOff"
      responses:
        '201':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '406':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/daysOff/bulkLoad":
    post:
      tags:
      - DaysOff
      description: Crea días no laborables de una vez basado en un array. Esto servicio esta orientado a la carga automatica desde otros sistemas en la que de una vez se cargue el año completo.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          "$ref": "#/definitions/InputDayOffBulkLoad"
      responses:
        '201':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
  "/daysOff/{day_off_id}/":
    delete:
      tags:
      - DaysOff
      description: Elimina un día no laboral
      produces:
      - application/json
      parameters:
      - name: day_off_id
        in: path
        description: ID del día laboral a eliminar
        required: true
        type: integer
        format: int32
      - name: appkey
        in: header
        description: App key
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/SuccessResponse"
        '400':
          description: Error 400
          schema:
            "$ref": "#/definitions/ErrorResponse"
        '500':
          description: Error 500
          schema:
            "$ref": "#/definitions/ErrorResponse"
definitions:
  Application:
    type: object
    required:
    - appkey
    - contact_email
    - domain
    - from_email
    - from_name
    - html_confirmation_email
    - html_modify_email
    - name
    - status
    properties:
      appkey:
        type: string
        description: App key
      contact_email:
        type: string
        description: Email de contacto
      domain:
        type: string
        description: Dominio de la App
      from_email:
        type: string
        description: Email de notificación
      from_name:
        type: string
        description: Nombre
      html_cancel_email:
        type: string
        description: Plantilla HTML para cancelación de citas codificada en base 64
      html_confirmation_email:
        type: string
        description: Plantilla HTML para confirmación de citas codificada en base
          64
      html_modify_email:
        type: string
        description: Plantilla HTML para modificación de citas codificada en base
          64
      name:
        type: string
        description: Nombre de la App
      status:
        type: string
        description: Estado de la App
  Appointment:
    type: object
    required:
    - applyer_attended
    - applyer_name
    - appoinment_time
    - appointment_id
    - calendar_id
    - owner_name
    - subject
    properties:
      applyer_attended:
        type: integer
        format: int32
        description: Si la cita fue atendida o no 1 o 0
      applyer_name:
        type: string
        description: Nombre del solicitante
      appoinment_time:
        type: string
        description: Horario de la cita (MM DD YYYY HH:NN T - HH:NN T)
      appointment_id:
        type: integer
        format: int32
        description: ID de la cita
      calendar_id:
        type: string
        description: Id de calendario
      owner_name:
        type: string
        description: Nombre del propietario de la agenda
      subject:
        type: string
        description: Asunto de la cita
  AppointmentAvailable:
    type: object
    required:
    - applyer_email
    - applyer_name
    - appoinment_start_time
    - appointment_end_time
    - appointment_id
    - available
    - owner_name
    - subject
    - time
    properties:
      applyer_email:
        type: string
        description: E-mail del solicitante
      applyer_name:
        type: string
        description: Nombre del solicitante
      appoinment_start_time:
        type: string
        description: Horario inicial de la cita
      appointment_end_time:
        type: string
        description: Horario final de la cita
      appointment_id:
        type: integer
        format: int32
        description: ID de la cita
      available:
        type: string
        description: Reservada, disponible o bloqueada
      owner_name:
        type: string
        description: Nombre del propietario de la agenda
      subject:
        type: string
        description: Asunto de la cita
      time:
        type: string
        description: Hora de la cita (HH:NN)
  Calendar:
    type: object
    required:
    - concurrency
    - id
    - ignore_non_working_days
    - is_group
    - name
    - owner_email
    - owner_id
    - owner_name
    - schedule
    - time_attention
    - time_cancel_appointment
    - time_confirm_appointment
    properties:
      concurrency:
        type: integer
        format: int32
        description: Cantidad de citas que se pueden agendar en la misma hora
      id:
        type: integer
        format: int32
        description: ID del calendario
      ignore_non_working_days:
        type: integer
        format: int32
        description: Si este campo esta en 1, entonces este calendario ignora los
          feriados globales
      is_group:
        type: string
        description: Si es grupo se coloca en 1 sino entonces es un usuario y se coloca
          0
      name:
        type: string
        description: Nombre de la agenda
      owner_email:
        type: string
        description: Email del propietario del calendario
      owner_id:
        type: string
        description: ID del usuario o grupo al que se le va a asignar la agenda
      owner_name:
        type: string
        description: Nombre a quién pertenece la agenda
      schedule:
        type: string
        description: Horario del trámite (Data serializada)
      time_attention:
        type: integer
        format: int32
        description: Duración que puede tener una cita dentro de la agenda (Definido
          en minutos)
      time_cancel_appointment:
        type: integer
        format: int32
        description: Tiempo en que se puede cancelar una cita en cada agenda antes
          de que inicie le cita
      time_confirm_appointment:
        type: integer
        format: int32
        description: Tiempo para eliminar citas reservadas de una agenda que no han
          sido confirmadas
  CreateAppointment:
    type: object
    required:
    - id
    properties:
      id:
        type: integer
        format: int32
        description: ID de la cita que se insertó en DB
  CreateCalendar:
    type: object
    required:
    - id
    properties:
      id:
        type: integer
        format: int32
        description: ID del calendario que se insertó en DB
  DateAppointment:
    type: object
    required:
    - YYYY-MM-DD
    properties:
      YYYY-MM-DD:
        type: array
        description: ''
        items:
          "$ref": "#/definitions/AppointmentAvailable"
  DayOff:
    type: object
    required:
    - date_dayoff
    - id
    - name
    properties:
      date_dayoff:
        type: string
        description: Fecha del día no laboral (AAAA-MM-DD)
      id:
        type: integer
        format: int32
        description: ID del día no laboral
      name:
        type: string
        description: Nombre del día no laboral
  ErrorResponse:
    type: object
    required:
    - response
    properties:
      response:
        "$ref": "#/definitions/GenericResponse"
  GenericResponse:
    type: object
    required:
    - code
    - message
    properties:
      code:
        type: integer
        format: int32
        description: Código de status interno para operaciones request
      message:
        type: string
        description: Mensaje de status interno para operaciones request
  InputAppointmentAttended:
    type: object
    required:
    - applyer_attended
    properties:
      applyer_attended:
        type: integer
        format: int32
        description: Si la cita fue atendida por el solicitante 1 o 0
  InputAppointmentBulkConfirm:
    type: object
    required:
    - ids
    properties:
      ids:
        type: array
        description: Array de IDs de citas
        items:
          type: integer
          format: int32
  InputAppointmentCancel:
    type: object
    required:
    - user_id_cancel
    - user_name_cancel
    properties:
      cancelation_cause:
        type: string
        description: Motivo cancelación de la cita
      user_id_cancel:
        type: string
        description: ID del usuario que canceló la cita
      user_name_cancel:
        type: string
        description: Nombre del usuario que canceló la cita
  InputAppointmentReserve:
    type: object
    required:
    - applyer_email
    - appointment_start_time
    - calendar_id
    properties:
      applyer_email:
        type: string
        description: Email del solicitante de la cita
      applyer_id:
        type: string
        description: ID del solicitante de la cita
      applyer_name:
        type: string
        description: Nombre del solicitante de la cita
      appointment_start_time:
        type: string
        description: Horario de la cita (AAAA-MM-DD HH:NN)
      calendar_id:
        type: integer
        format: int32
        description: ID de la agenda a la que se hace la cita
      subject:
        type: string
        description: Descripción del trámite por el cual se realiza la cita
  InputBlockSchedule:
    type: object
    required:
    - calendar_id
    - cause
    - end_date
    - start_date
    - user_id_block
    properties:
      calendar_id:
        type: integer
        format: int32
        description: ID del calendario
      cause:
        type: string
        description: Motivo de bloqueo de la cita
      end_date:
        type: string
        description: Fecha en que finaliza el bloqueo de la cita (AAAA-MM-DD HH:NN)
      start_date:
        type: string
        description: Fecha en que inicia el bloqueo de la cita (AAAA-MM-DD HH:NN)
      user_id_block:
        type: string
        description: ID del usuario que bloquea el horario
      user_name_block:
        type: string
        description: Nombre del usuario que bloquea el horario
  InputBlockScheduleBulk:
    type: object
    required:
    - range
    - user_id_block
    - user_name_block
    properties:
      calendar_id:
        type: integer
        format: int32
        description: ID del calendario
      cause:
        type: string
        description: Motivo por el cual se bloquea el horario
      range:
        type: array
        description: Array de rangos de fechas/horas a bloquear
        items:
          "$ref": "#/definitions/InputRangeBlockSchedule"
      user_id_block:
        type: string
        description: ID del usuario que realiza el bloqueo
      user_name_block:
        type: string
        description: Nombre del usuario que realiza el bloqueo
  InputCalendar:
    type: object
    required:
    - concurrency
    - ignore_non_working_days
    - is_group
    - name
    - owner_email
    - owner_id
    - owner_name
    - schedule
    - time_attention
    - time_cancel_appointment
    - time_confirm_appointment
    properties:
      concurrency:
        type: integer
        format: int32
        description: Cantidad de citas que se pueden agendar en la misma hora
      ignore_non_working_days:
        type: integer
        format: int32
        description: Si este campo esta en 1, entonces este calendario ignora los
          feriados globales sino coloque 0
      is_group:
        type: integer
        format: int32
        description: Si es grupo se coloca en 1 sino entonces es un usuario y se coloca
          0
      name:
        type: string
        description: Nombre de la agenda
      owner_email:
        type: string
        description: Email del propietario de la agenda
      owner_id:
        type: string
        description: ID del propietario de la agenda
      owner_name:
        type: string
        description: Nombre del propietario de la agenda
      schedule:
        type: string
        description: |-
          Horario del trámite ej:

          "schedule": {
                  "lunes": {
                      "0": "08:00-12:00",
                      "1": "14:00-18:00",
                      "2": "20:00-22:00"
                  },
                  "martes": {
                      "0": "08:00-12:00",
                      "1": "14:00-18:00"
                  },
                  "miercoles": {
                      "0": "08:00-12:00",
                      "1": "14:00-18:00"
                  }
              }
      time_attention:
        type: integer
        format: int32
        description: |-
          Duración que puede tener una cita dentro de la agenda (Definido en
                    minutos)
      time_cancel_appointment:
        type: integer
        format: int32
        description: Tiempo en el cual el usuario puede cancelar una cita con anterioridad
      time_confirm_appointment:
        type: integer
        format: int32
        description: Tiempo que tiene un usuario para confirmar una cita reservada,
          de lo contrario queda liberada
  InputChangeApplication:
    type: object
    required:
    - status
    properties:
      status:
        type: integer
        format: int32
        description: Estado de a App
  InputCreateApplication:
    type: object
    required:
    - contact_email
    - from_email
    - from_name
    - html_cancel_email
    - html_confirmation_email
    - html_modify_email
    - name
    properties:
      domain:
        type: string
        description: valor del dominio con el que se agruparan las agendas
      contact_email:
        type: string
        description: Email de contacto
      from_email:
        type: string
        description: Email de notificación
      from_name:
        type: string
        description: Nombre
      html_cancel_email:
        type: string
        description: Plantilla HTML para cancelación de citas codificada en base 64
      html_confirmation_email:
        type: string
        description: Plantilla HTML para confirmación de citas codificada en base
          64
      html_modify_email:
        type: string
        description: Plantilla HTML para modificación de citas codificada en base
          64
      name:
        type: string
        description: Nombre de la App
  InputDayOff:
    type: object
    required:
    - date_dayoff
    - name
    properties:
      date_dayoff:
        type: string
        description: Fecha del día no laboral (AAAA-MM-DD)
      name:
        type: string
        description: Nombre del día no laboral
  InputDayOffBulkLoad:
    type: object
    properties:
      daysOffBulk:
        type: array
        description: Array de daysOff
        items:
          "$ref": "#/definitions/InputDayOff"
  InputRangeBlockSchedule:
    type: object
    required:
    - end_date
    - start_date
    properties:
      end_date:
        type: string
        description: Fecha/Hora final del bloqueo
      start_date:
        type: string
        description: Fecha/Hora inicial del bloqueo
  InputUpdateApplication:
    type: object
    required:
    - contact_email
    - from_email
    - from_name
    - html_cancel_email
    - html_confirmation_email
    - html_modify_email
    - name
    properties:
      contact_email:
        type: string
        description: Email de contacto
      from_email:
        type: string
        description: Email de notificación
      from_name:
        type: string
        description: Nombre
      html_cancel_email:
        type: string
        description: Plantilla HTML para cancelación de citas codificada en base 64
      html_confirmation_email:
        type: string
        description: Plantilla HTML para confirmación de citas codificada en base
          64
      html_modify_email:
        type: string
        description: Plantilla HTML para modificación de citas codificada en base
          64
      name:
        type: string
        description: Nombre de la App
  OutputApplications:
    type: object
    required:
    - response
    properties:
      apps:
        type: array
        description: Listado de aplicaciones
        items:
          "$ref": "#/definitions/Application"
      response:
        "$ref": "#/definitions/GenericResponse"
  OutputAppointment:
    type: object
    required:
    - count
    - response
    properties:
      appointments:
        type: array
        description: Listado de citas futuras
        items:
          "$ref": "#/definitions/Appointment"
      count:
        type: integer
        format: int32
      response:
        "$ref": "#/definitions/GenericResponse"
  OutputAppointmentAvailable:
    type: object
    required:
    - appointmentsavailable
    - concurrency
    - owner_name
    - response
    properties:
      appointmentsavailable:
        type: array
        items:
          "$ref": "#/definitions/DateAppointment"
      concurrency:
        type: string
        description: Concurrencia de la agenda
      owner_name:
        type: string
        description: Propietario de la agenda
      response:
        "$ref": "#/definitions/GenericResponse"
  OutputAppointmentsAvailable:
    type: object
  OutputCalendar:
    type: object
    required:
    - count
    - response
    properties:
      calendars:
        type: array
        items:
          "$ref": "#/definitions/Calendar"
      count:
        type: integer
        format: int32
        description: Total de registros
      response:
        "$ref": "#/definitions/GenericResponse"
  OutputCreateAppointment:
    type: object
    required:
    - appointment
    - response
    properties:
      appointment:
        "$ref": "#/definitions/CreateAppointment"
      response:
        "$ref": "#/definitions/GenericResponse"
  OutputCreateCalendar:
    type: object
    required:
    - response
    properties:
      calendar:
        "$ref": "#/definitions/CreateCalendar"
      response:
        "$ref": "#/definitions/GenericResponse"
  OutputDayOff:
    type: object
    required:
    - response
    properties:
      daysoff:
        type: array
        description: Listado de días no laborales
        items:
          "$ref": "#/definitions/DayOff"
      response:
        "$ref": "#/definitions/GenericResponse"
  SuccessResponse:
    type: object
    required:
    - response
    properties:
      response:
        "$ref": "#/definitions/GenericResponse"

